@model SocialNetwork.Core.Application.ViewModels.User.SaveUserViewModel;


<div class="col-lg-6 col-md-8 mx-auto">
    <h4> Introduzca la nueva contraseña </h4>
    <form method="post" asp-controller="Usuario" asp-action="ChangePassword">

        <input type="password" class="form-control ds-input" id="search-input" 
               aria-label="Search for..." asp-for="Contraseña">

        <input type="hidden" asp-for="id" value="@Model.id">

        <button type="submit" class="btn btn-primary">Dale</button>
    </form>
</div>
