@model SocialNetwork.Core.Application.ViewModels.UserFriend.UserFriendViewModel
@{
    ViewData["Title"] = "Eliminar Amigo";
}

<div class="row">
    <div class="col-6 offset-3">
        <div class="card">
            <div class="card-header bg-dark text-light">
                <h4>Esta seguro que desea eliminar el amigo @Model.Usuario.Nombre?</h4>
            </div>
            <div class="card-body">
                <form method="post" asp-controller="Friend" asp-action="Delete">

                    <input type="hidden" asp-for="id"/>

                    <button type="submit" class="btn btn-primary">Eliminar</button>
                    <a asp-controller="ResLab" asp-action="Index" class="btn btn-warning">Volver atras</a>
                </form>
            </div>
        </div>
    </div>
</div>

